In [58]:
from IPython.display import IFrame  
CIALink_EduExpenditures="https://www.cia.gov/the-world-factbook/field/education-expenditures/country-comparison" 
IFrame(CIALink_EduExpenditures, width=700, height=300)

In [59]:
import pandas as pd

In [60]:
CIAdata_EduExpenditures=pd.read_html(CIALink_EduExpenditures,header=0,flavor='bs4',attrs={'class': 'content-table'})

In [61]:
type(CIAdata_EduExpenditures)

list

In [62]:
len(CIAdata_EduExpenditures)

1

In [63]:
CIAdata_EduExpenditures[0]

     Rank                            Country  % of GDP  Date of Information
0       1                               Cuba      12.8                 2010
1       2    Micronesia, Federated States of      12.5                 2015
2       3                    Solomon Islands       9.9                 2010
3       4                         Montserrat       8.8                 2019
4       5                             Norway       7.9                 2017
..    ...                                ...       ...                  ...
165   166  Congo, Democratic Republic of the       1.5                 2017
166   167                             Monaco       1.5                 2017
167   168                        South Sudan       1.5                 2016
168   169                         Bangladesh       1.3                 2019
169   170           Central African Republic       1.2                 2011

[170 rows x 4 columns]

In [64]:
CIATable_EduExpenditures=pd.read_html(CIALink_EduExpenditures, # link
                        #header=0, # where is the header?
                        flavor='bs4', # helper to translate html
                        attrs={'class': 'content-table'}) # attributes to identify element(s)

In [65]:
DF=CIATable_EduExpenditures[0]

In [73]:
DFTest=DF.copy() # recreating DFTest
some=['rank', 'country', 'pct_GDP_exp', 'year_GDP_exp']

In [74]:
dict(zip(DFTest.columns, some))

{'Rank': 'rank',
 'Country': 'country',
 '% of GDP': 'pct_GDP_exp',
 'Date of Information': 'year_GDP_exp'}

In [79]:
 DFTest.rename(columns=dict(zip(DFTest.columns, some)),inplace=True)

In [80]:
DFTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          170 non-null    int64
 1   country       170 non-null    object
 2   pct_GDP_exp   170 non-null    float64
 3   year_GDP_exp  170 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 5.4+ KB

In [82]:
DFTest["country"]=DFTest.country.str.strip()

In [83]:
DFTest

     rank                            country  pct_GDP_exp  year_GDP_exp
0       1                               Cuba         12.8          2010
1       2    Micronesia, Federated States of         12.5          2015
2       3                    Solomon Islands          9.9          2010
3       4                         Montserrat          8.8          2019
4       5                             Norway          7.9          2017
..    ...                                ...          ...           ...
165   166  Congo, Democratic Republic of the          1.5          2017
166   167                             Monaco          1.5          2017
167   168                        South Sudan          1.5          2016
168   169                         Bangladesh          1.3          2019
169   170           Central African Republic          1.2          2011

[170 rows x 4 columns]

In [84]:
DFTest.to_csv("HannaData.csv",index=False)