In [1]:
Link="https://github.com/hannapeterson/Hanna_Repo/raw/main/HannaData.csv"

In [2]:
import pandas as pd

In [3]:
data1=pd.read_csv(Link)

In [4]:
data1

     rank                            country  pct_GDP_exp  year_GDP_exp
0       1                               Cuba         12.8          2010
1       2    Micronesia, Federated States of         12.5          2015
2       3                    Solomon Islands          9.9          2010
3       4                         Montserrat          8.8          2019
4       5                             Norway          7.9          2017
..    ...                                ...          ...           ...
165   166  Congo, Democratic Republic of the          1.5          2017
166   167                             Monaco          1.5          2017
167   168                        South Sudan          1.5          2016
168   169                         Bangladesh          1.3          2019
169   170           Central African Republic          1.2          2011

[170 rows x 4 columns]